<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} Music Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='songs.css') }}">
</head>
</head>

<body>
    <br>
    <div class="in-middle">
        <ul class="menu">
            <a href="{{ url_for('songs.view') }}">SONGS</a>
            <a href="{{ url_for('songs.upload') }}">UPLOAD</a>
            <a href="{{ url_for('songs.search') }}">SEARCH</a>
        </ul>
    </div>
    <br><br><br>
    <p>{{ error_message }}</p>
    
</body>

</html>